@model IEnumerable<FirstMVC.Models.Department>
@{
    ViewBag.Title = "DepartmentList";
}

<h2>Department List</h2>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Department ID</th>
            <th>Department Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var d in Model)
            {
                <tr>
                    <td>@d.ID</td>
                    <td>@d.DeptName</td>
                </tr>

            }
    </tbody>
</table>

