
@{
    ViewBag.Title = "UserStatus";
}

<h2>User Status</h2>


<h1 style="color:darkgreen;">@ViewBag.status</h1>
<br />
<p>
    Users Last Name : @TempData["lastname"] and Age is : @TempData["age"]
</p>