
@{
    ViewBag.Title = "Orders";
    //Layout = "~/Views/Shared/_ProductLayout.cshtml";
}

<h2>Orders</h2>

<table class="table table-responsive table-bordered table-striped">
    <thead>
        <tr class="btn-primary">
            <th>OrderId</th>
            <th>Order Date</th>
            <th>Order Amount</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>20th May 2026</td>
            <td>1000</td>
        </tr>
        <tr>
            <td>2</td>
            <td>22nd May 2026</td>
            <td>2000</td>
        </tr>
    </tbody>
</table>  