@*@{
    Layout = "~/Views/Shared/_CustomLayout.cshtml";
}*@

<h2>Product Details</h2>
<table class="table table-responsive table-bordered table-striped">
    <thead>
        <tr class="btn-primary">
            <th>ProductId</th>
            <th>Product Name</th>
            <th>Quantity</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>100</td>
            <td>ASP.Net MVC 5 by Infinite</td>
            <td>10</td>
        </tr>
        <tr>
            <td>101</td>
            <td>ECMA 6 Scripts By AAA</td>
            <td>20</td>
        </tr>
    </tbody>
</table>  