@model Html_Helpers_Prj.Models.Student
@{
    ViewBag.Title = "TemplateForModel";
}

<h2>TemplateForModel</h2>

@using(Html.BeginForm())
            {
                @Html.EditorForModel();
            }